/* simple reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles */
.background {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* project styles */

.background {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em 2em 2em 2em;
}

.title {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.gameboard {
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 2em;
}

.board-section:nth-child(even) .number {
    background-color: rgba(84, 72, 221, 0.384);
}


.board-section {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: .2em;
}

.number {
    width: 45px;
    height: 45px;
    background-color: rgba(206, 236, 255, 0.897);
    outline: none;
    border: none;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #063149b0;
}

.buttons {
    display: flex;
}

.footer-buttons {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: black;
    background: none;
    cursor: pointer;
    padding: 10px 30px;
    display: inline-block;
    margin: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: flex;
    column-gap: 0.5em;
    align-items: center;
    width: 190px;
  }

  .button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Button 1 */
  .button-1 {
    border: 2px solid #fff;
    color: #fff;
  }
  
  /* Button 1a */
  .button-1:hover,
  .button-1:active {
    color: #0e83cd;
    background: #fff;
  }